<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
           version="2.5">
    <servlet>
        <servlet-name>PageViewer</servlet-name>
        <servlet-class>ru.ifmo.ailab.ontology.viewer.servlets.PageViewerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RootViewer</servlet-name>
        <servlet-class>ru.ifmo.ailab.ontology.viewer.servlets.RootViewerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Mirror</servlet-name>
        <servlet-class>ru.ifmo.ailab.ontology.viewer.servlets.MirrorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Help</servlet-name>
        <servlet-class>ru.ifmo.ailab.ontology.viewer.servlets.HelpServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PageViewer</servlet-name>
        <url-pattern>/pageviewer/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RootViewer</servlet-name>
        <url-pattern>/rootviewer/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Mirror</servlet-name>
        <url-pattern>/mirror/</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Help</servlet-name>
        <url-pattern>/help/*</url-pattern>
    </servlet-mapping>
</web-app>
