/*Для тултипов*/
.tooltip {
    position: absolute;
    text-align: center;
    max-width: 300px;
    /*min-height: 30px;*/
    color: black;
    /*width: 60px;*/
    padding: 2px;
    font: 12px sans-serif;
    font-weight: bold;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

/*Для клкассов и инстансов*/
.generalFilterList{
    float: left;
    width: 15%;
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
}

/**/
.basicTextInGraph {
    font-family: "Andale Mono",sans-serif;
    font-size: 15px;
}
.headersInGraph {
    font-family: "Andale Mono",sans-serif;
    fill: white;
    font-size: 10px;
}
.paragraphHeaderGraph{
    font-family: "Andale Mono",sans-serif;
    fill: black;
    font-size: 15px;
    font-weight: bold;
}

.header{
    font-size: larger;
    color: blue;
}

.node rect {

}

.node {
    font: 10px sans-serif;
    fill:black;
}

.link {
    fill: none;
    stroke-width: 1.5px;
}

.hyperlink {
    fill: #0000bb;
}
.hyperlink:hover {
    text-decoration: underline;
}
.hyperlink:active {
    fill: orange;
}
.hyperlink:visited {
    fill: #000088;
}