/*Для тултипов*/
.tooltip {
    position: absolute;
    text-align: center;
    min-width: 300px;
    /*min-height: 30px;*/
    color: black;
    /*width: 60px;*/
    padding: 2px;
    font: 12px sans-serif;
    font-weight: bold;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

/*Для клкассов и инстансов*/
.generalFilterList{
    float: left;
    width: 15%;
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
}

/**/
.basicTextInGraph {
    font-family: "Andale Mono",sans-serif;
    font-size: 15px;
}
.headersInGraph {
    font-family: "Andale Mono",sans-serif;
    fill: white;
    font-size: 10px;
}
.paragraphHeaderGraph{
    font-family: "Andale Mono",sans-serif;
    fill: black;
    font-size: 15px;
    font-weight: bold;
}

.header{
    font-size: larger;
    color: blue;
}

.node rect {

}

.node {
    font: 10px sans-serif;
    fill:black;
}

.link {
    fill: none;
    stroke-width: 1.5px;
}

.indicatorText {
    font-family: "Andale Mono",sans-serif;
    font-size: 15px;
}

.hyperlink {
    fill: #0000bb;
}
.hyperlink:hover {
    text-decoration: underline;
}
.hyperlink:active {
    fill: orange;
}
.hyperlink:visited {
    fill: #000088;
}

.splitter {
    stroke: red;
    stroke-width: 2;
}

.paginatorBox > rect {
    stroke-width: 2;
    fill: white;
}

.paginatorText {
    font-family: Helvetica,sans-serif;
    font-size: 20px;
    user-select: none;
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* IE10+ */
}
.paginatorBox:hover .paginatorText {
    font-weight: bolder;
}

.paginatorBox input {
    text-align: center;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border-width: 0;
    outline: 0;
    font-family: Helvetica,sans-serif;
    font-size: 20px;
    background: transparent;
}

.paginatorButton > rect {
    stroke-width: 1.5;
    fill: white;
}

.paginatorButton > text {
    font-family: Times;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* IE10+ */
}